@charset "UTF-8";
@font-face {
    font-family: 'Teste';
    src: url(fonts/LeagueGothic.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
header {
    background-color: black;
    height: 80vw;
    color: white;
    font-family: 'Teste';
}
header h1 {
    margin-left: 5%;
    padding-top: 66px;
    font-variant: small-caps;
    letter-spacing: 4px;
    font-size: 30vw;
}
header p {
    font-size: 15vw;
    margin-left: 30vw;
    margin-top: 5px;
}

/*versos*/

section {
    position: relative;
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
}
section p {
    font-family: 'Teste';
    font-size: 8vw;
    width: 80vw;
    padding-left: 290vw;
}
p.ident {
    text-indent: 8vw;
}
section#text1 {
    background-color: white;
    height: 100vw;
}
section#text2 {
    background-image: url(images/janela.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 70vw;
    text-shadow: 3px 3px 4px black;
    box-shadow: inset 6px 6px 6px 0px black;
}
section#text3 {
    background-color: white;
    height: 120vw;
}
section#text4 {
    background-image: url(images/rua.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 120vw;
    text-shadow: 3px 3px 4px black;
    box-shadow: inset 6px 6px 6px 0px black;
}
section#text5 {
    background-color: white;
    height: 70vw;
}
p#foot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    text-align: right;
    padding-left: 15vw;
}
